@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-r-border {
    @apply flex items-center h-full border-r-2 border-r-gray-100;
  }

  .app-cursor {
    @apply cursor-pointer;
  }

  .app-x-center {
    @apply flex justify-center;
  }

  .app-y-center {
    @apply flex items-center;
  }

  .app-center {
    @apply flex items-center justify-center;
  }
}
